*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://mcdn.wallpapersafari.com/medium/80/79/6JmCqO.jpg);
    background-size: cover;
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background-attachment: fixed;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 8px 20px;
    background-color: rgba( 64, 144, 172, 0.5 );
    color: white;
}
ul {
   
   width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list {
    list-style: none;
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    margin: 0px 4px 0px 0px;
    font-size: 14px;
    background-color: #4090ac;
}
.text {
    display: inline-block;
    list-style: none;
    background-color: transparent;
    padding: 0;
}
.text input {
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    outline: none;
    margin-left: 0px;
    margin-top: 2px;
    background-color: rgba( 64, 144, 172, 1 );
    font-size: 1.15em;
    line-height: 1.4;
    color: black;
    height: 34px;
}
.navmiddel {
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.3em;
    justify-content: space-around;
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}